<section id="intro" class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>{{ .Site.Params.intro.title }}</h2>
      </header>
    

        <p>Com o Método Pineal, oferecemos um conteúdo profundo e aplicável, tutoriais e meditações guiadas, bases científicas e resultados práticos para alta performance com qualidade de vida, produtividade e harmonia. </p>
        <p>Tudo isso numa plataforma integrada, de uso fácil para fazer parte da vida das pessoas. </p>
        <p>Mas não queremos ser só mais um curso online. Trazemos soluções para indivíduos e equipes sem perder uma relação de contato pessoal. Criamos fluxos de aprendizado com opções de acompanhamento com instrutores, atendimento personalizado e benefícios exclusivos.</p>
        <p>Criamos os programas Alfa, Beta e Gamma baseados nas frequências cerebrais para adaptar às principais dores dos clientes.</p>

      <ul class="actions">
        {{range $button := .Site.Params.intro.action }}
          <li>
            <a href="{{ $button.href }}" class="button {{ $button.customClass }}">{{ $button.buttontext }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
    {{ if .Site.Params.intro.image }}
      <span class="image"><img src="{{ .Site.Params.intro.image }}" alt="" /></span>
    {{ end }}
  </div>
</section>